<!-- ko with: home -->

@model Project_EDEO.Models.Home

@Styles.Render("~/Content/dropzone-css")

<!-- Intro section end -->
<section class="sp-pad">
    <h3 class="sp-title">Upload here to perform an bone age estimation</h3>
    <div id="dropzone" class="container-fluid">
        <div class="center-block">
            @using (Html.BeginForm("Estimate", "Home", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "dropzone needsclick dz-clickable", @id = "dropzone-form" }))
            {
                <div class="dz-message needsclick">
                    <i class="fa fa-upload fa-5x" aria-hidden="true"></i>
                    <br>
                    <p>Drag and drop an image over this section</p>
                    <i class="fa fa-camera fa-3x"></i>
                    <br>
                    <p>or press to select a file from your device.</p>
                </div>
            }
        </div>
    </div>

    <div id="loading" style="display: none;">
        <div class="row align-items-center mb-0">
            <div class="col-12 text-center">
                <img src="~/images/loading.gif" />
                <p>Loading...</p>
            </div>
        </div>
    </div>

    <div id="results" style="display: none;">
        <div class="row align-items-center mb-0">
            <div id="image" class="col-12 col-md-6 text-center">
                <img src="~/images/logos/logo_black.png" />
            </div>
            <div class="col-12 col-md-5 offset-md-1 text-center text-md-left">
                <h3 class="sp-sub-title">Bone age estimation</h3>
                <h1 id="age">0</h1>
                <h3 class="sp-sub-title">months</h3>
                <a href=@Url.Action("Create", "Diagnostics", new RouteValueDictionary(new { age = ViewBag.Age, image = ViewBag.Image, pre = ViewBag.Pre })) class="btn btn-outline-secondary" type="button">Associate</a>
            </div>
        </div>
    </div>
    <p></p>
    <br />
</section>