@section SPAViews {
    @Html.Partial("_Home")
}
@section Scripts {
    @Scripts.Render("~/bundles/dropzone")
    <script src="~/assets/js/lib/chosen/chosen.jquery.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery(".standardSelect").chosen({
                disable_search_threshold: 10,
                no_results_text: "Oops, nothing found!",
                width: "100%"
            });
        });
    </script>
    <script type="text/javascript">
        function displayLoading() {
            $('#dropzone').hide();
            $('#loading').show();
        };

        function showResults(image, age) {
            $('#loading').hide();
            $('#results').show();
            $('#age').html(age);
            $('#image').html('<img src="' + image + '" height="300" />');
        };

        Dropzone.options.dropzoneForm = {
            method: "POST",
            paramName: "file",
            uploadMultiple: false,
            maxFiles: 1,
            maxFilesize: 20,
            capture: "camera",
            acceptedFiles: "image/*",
            dictMaxFilesExceeded: "Solo una imágen por estimación es posible",
            init: function () {
                this.on("sending", function (file) {
                    displayLoading();
                });
                this.on("error", function (file) {
                    $('#results').html("<p>Something went wrong :(</p>");
                });
                this.on("success", function (file, response) {
                    var image = response['image']
                    var age = response['estimation']
                    showResults(image, age);
                    this.removeFile(file);
                });
            }
        };
    </script>
}
