@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()

        <div class="user-area dropdown float-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="user-avatar rounded-circle" src="~/images/avatar/default.jpg" alt="User Avatar">
            </a>
            <div class="user-menu dropdown-menu">
                <a class="nav-link" href="@Url.Action("Index", "Manage")"><i class="fa fa- user"></i>My Profile</a>
                <a class="nav-link" href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();"><i class="fa fa-power -off"></i>Logout</a>
            </div>
        </div>
    }
}
else
{
    <div class="user-area dropdown float-right">
        @Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })
    </div>
}
