
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/dropzone-css")

<div class="card">
    @using (Html.BeginForm("Upload", "EstimatorModels", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "dropzone needsclick dz-clickable", @id = "dropzone-form" }))
    {
    <div class="dz-message needsclick">
        <i class="fa fa-upload fa-5x" aria-hidden="true"></i>
        <br />
        <br />
        <p>Drag &amp Drop your Python files and weights here</p>
        <br />
        <p>or clic here to select them manually</p>
        <br />
        <p>(10 files max)</p>
    </div>
    }
</div>

<div>
    <a href=@Url.Action("Index", "EstimatorModels") class="btn btn-success" type="button">Finish</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dropzone")
    <script src="~/assets/js/lib/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript">
        Dropzone.options.dropzoneForm = {
            method: "POST",
            paramName: "files",
            uploadMultiple: true,
            maxFiles: 10,
            maxFilesize: 20
        };
    </script>
}
