
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/dropzone-css")

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "EstimatorModels", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "dropzone needsclick dz-clickable", @id = "dropzone-form" }))
{
    <div class="dz-message needsclick">
        <i class="fa fa-upload fa-5x" aria-hidden="true"></i>
        <br>
        <p>Arrastre y suelte una imágen en esta sección</p>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/dropzone")
    <script src="~/assets/js/lib/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript">
        Dropzone.options.dropzoneForm = {
            method: "POST",
            paramName: "files",
            uploadMultiple: true,
            maxFiles: 5,
            maxFilesize: 20,
            dictMaxFilesExceeded: "Solo una imágen por estimación es posible",
        };
    </script>
}
