<!-- ko with: home -->

<h1>EDEO Project</h1>

@Styles.Render("~/Content/dropzone-css")

<div id="dropzone">
    @using (Html.BeginForm("FileUpload", "Home", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "dropzone needsclick dz-clickable", @id = "dropzone-form" }))
    {
        <div class="fallback dz-message needsclick">
            <input name="file" type="file" multiple />
            <input type="submit" value="Upload" />
        </div>
    }
</div>

<!-- /ko -->
