@model Project_EDEO.Models.MedicalRecord

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Are you sure you want to <strong>delete</strong> this medical record?
    </div>
    <div class="card-body card-block">
        <div class="row form-group">
            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Name</label></div>
            <div class="col-12 col-md-9">
                @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control-static" } })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Last name</label></div>
            <div class="col-12 col-md-9">
                @Html.DisplayFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control-static" } })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Born date</label></div>
            <div class="col-12 col-md-9">
                @Html.DisplayFor(model => model.BornDate, new { htmlAttributes = new { @class = "form-control-static" } })
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="card-footer">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a href=@Url.Action("Index", "MedicalRecords") class="btn btn-secondary" type="button">Back to list</a>
    </div>
    }
</div>